body {
    background-color:#008037;
    margin: 0px auto;
    overflow: hidden;
    font-size: 50px;
    font-family: "Luminari", "Times new roman";
}

p {
    color: #FFFFFF;
}

span#adjective {
    color: #99CC63;
}
span#race {
    color: #99CC63;
}
span#character_class {
    color: #99CC63;
}
span#origin {
    color: #99CC63;
}
span#who {
    color: #99CC63;
}
span#sentimental_magic_item_d100 {
    color: #99CC63;
}
span#magical_item {
    color: #99CC63;
}
span#atmosphere {
    color: #99CC63;
}
span#primary {
    color: #99CC63;
}
span#secondary {
    color: #99CC63;
}
span#ground {
    color: #99CC63;
}
