body {
    background-color:#008037;
    margin: 0px auto;
    overflow: hidden;
    font-size: 30px;
    font-family: "Luminari", "Times new roman";
}

p {
    color: #FFFFFF;
}

span#adjective {
    color: #C6F198;
}
span#race {
    color: #C6F198;
}
span#character_class {
    color: #C6F198;
}
span#origin {
    color: #C6F198;
}
span#who {
    color: #C6F198;
}
span#sentimental_magic_item_d100 {
    color: #C6F198;
}
span#magical_item {
    color: #C6F198;
}
span#atmosphere {
    color: #C6F198;
}
span#primary {
    color: #C6F198;
}
span#secondary {
    color: #C6F198;
}
span#ground {
    color: #C6F198;
}

button {
  background-color: #024920;
  border: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "American Typewriter";
}
p.items {
    font-size: 20px;
}
.printer {
  border: none;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 50px;
}
